@-webkit-keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@-webkit-keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@-webkit-keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
.animacionFondo {
  filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.animacionFondo .uno, .animacionFondo .cuatro, .animacionFondo .tres, .animacionFondo .dos {
  border: 0;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-animation: vuelta 7s linear infinite normal both;
          animation: vuelta 7s linear infinite normal both;
  width: 80px;
  height: 80px;
  bottom: -80px;
  background-color: rgba(255, 0, 0, 0.5);
}
.animacionFondo .uno span:nth-child(1), .animacionFondo .cuatro span:nth-child(1), .animacionFondo .tres span:nth-child(1), .animacionFondo .dos span:nth-child(1) {
  left: 5%;
}
.animacionFondo .dos {
  width: 60px;
  height: 60px;
  bottom: -60px;
  background-color: rgba(128, 163, 0, 0.5);
}
.animacionFondo .tres {
  width: 40px;
  height: 40px;
  bottom: -40px;
  background-color: rgba(0, 134, 237, 0.5);
}
.animacionFondo .cuatro {
  width: 20px;
  height: 20px;
  bottom: -20px;
  background-color: rgba(176, 9, 123, 0.5);
}
.animacionFondo span:nth-child(2) {
  left: 25%;
}
.animacionFondo span:nth-child(3) {
  left: 35%;
}
.animacionFondo span:nth-child(4) {
  left: 45%;
}
.animacionFondo span:nth-child(5) {
  left: 55%;
}
.animacionFondo span:nth-child(6) {
  left: 65%;
}
.animacionFondo span:nth-child(7) {
  left: 75%;
}
.animacionFondo span:nth-child(8) {
  left: 85%;
}
.animacionFondo span:nth-child(9) {
  left: 95%;
}
.animacionFondo span:nth-child(10) {
  left: 50%;
}
.animacionFondo span:nth-child(11) {
  left: 39%;
}
.animacionFondo span:nth-child(12) {
  left: 10%;
}
.animacionFondo span.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animacionFondo span.delay-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.animacionFondo span.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.animacionFondo span.delay-4 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.animacionFondo span.delay-5 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.animacionFondo span.delay-6 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.animacionFondo span.delay-7 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.containerNav .rowNav nav .divcol a .logonav {
  width: 60px;
}
.containerNav .rowNav nav .divcol .logonav:hover {
  -webkit-animation: saltar 0.4s ease-out 1 normal both;
          animation: saltar 0.4s ease-out 1 normal both;
}
.containerNav .rowNav nav .divcol #navbarNavAltMarkup .navbar-nav .navbarul {
  padding: 10px;
  width: 600px;
}
.containerNav .rowNav nav .divcol #navbarNavAltMarkup .navbar-nav a {
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
}
.containerNav .rowNav nav .divcol #navbarNavAltMarkup .navbar-nav a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.divTitulo {
  margin-top: 200px;
}
.divTitulo .tituloRow .divyo .yoHome {
  margin-left: 150px;
}
.divTitulo .tituloRow .parrafoHome {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  text-align: center;
}
.divTitulo .tituloRow .parrafoHome .tituloHome {
  margin-right: 150px;
  font-size: 52px;
}
.divTitulo .tituloRow .parrafoHome .tituloHome .espacio {
  margin: 5px;
}
.divTitulo .tituloRow .parrafoHome .tituloHome .spanHome:hover {
  cursor: pointer;
  -webkit-animation: animar-texto 0.8s ease-in-out 1 normal both;
          animation: animar-texto 0.8s ease-in-out 1 normal both;
}
.divTitulo .tituloRow .parrafoHome p {
  margin-right: 150px;
}
.divTitulo .tituloRow .parrafoHome .btnHome {
  margin-right: 150px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
  background-color: #b719c6;
  color: white;
}
.divTitulo .tituloRow .parrafoHome .btnHome:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}
.divTitulo .tituloRow .parrafoHome .btnHome:hover {
  background-color: white;
  color: black;
}

.logoCentral .yo {
  margin-top: 100px;
  width: 250px;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.flip-container {
  padding: 10px;
  background-color: transparent;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.flip-container .cardTop {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}
.flip-container .cardTop:hover {
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  transform: rotateY(180deg);
}
.flip-container .cardTop p {
  display: block;
  color: #FFF;
}
.flip-container .cardTop .frente {
  border-radius: 8px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 2px 2px 2px rgba(183, 25, 198, 0.3);
  transition: all 0.25s;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  display: flex;
}
.flip-container .cardTop .frente img {
  width: 170px;
}
.flip-container .cardTop .frente:hover {
  box-shadow: 0 12px 16px rgba(183, 25, 198, 0.2);
}
.flip-container .cardTop .dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: #ffffff;
  transform: rotateY(180deg);
  text-align: center;
}
.flip-container .cardTop .dorso p {
  color: black;
  margin-top: 1.5em;
  display: block;
  font-size: 1em;
}
.flip-container .cardTop .dorso .btnCard {
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
}
.flip-container .cardTop .dorso .btnCard:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}

.sectionTitulo .sectionh2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.divCard {
  margin-top: 100px;
}
.divCard .divRow .divCol .divTarjeta {
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(183, 25, 198, 0.3);
  transition: all 0.25s;
  margin: 10px;
}
.divCard .divRow .divCol .divTarjeta:hover {
  box-shadow: 0 12px 16px rgba(183, 25, 198, 0.2);
}
.divCard .divRow .divCol .divTarjeta .card-img-top {
  margin-top: 0.5rem;
  margin-left: 6.5rem;
  width: 50px;
}
.divCard .divRow .divCol .divTarjeta .card-body h5 {
  color: black;
}
.divCard .divRow .divCol .divTarjeta .card-body p {
  color: black;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.divTitulo {
  margin-top: 200px;
}
.divTitulo .tituloRow .divyo .yoHome {
  margin-left: 150px;
}
.divTitulo .tituloRow .parrafoHome {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  text-align: center;
}
.divTitulo .tituloRow .parrafoHome .tituloHome {
  margin-right: 150px;
  font-size: 52px;
}
.divTitulo .tituloRow .parrafoHome .tituloHome .espacio {
  margin: 5px;
}
.divTitulo .tituloRow .parrafoHome .tituloHome .spanHome:hover {
  cursor: pointer;
  -webkit-animation: animar-texto 0.8s ease-in-out 1 normal both;
          animation: animar-texto 0.8s ease-in-out 1 normal both;
}
.divTitulo .tituloRow .parrafoHome p {
  margin-right: 150px;
}
.divTitulo .tituloRow .parrafoHome .btnHome {
  margin-right: 150px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
  background-color: #b719c6;
  color: white;
}
.divTitulo .tituloRow .parrafoHome .btnHome:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}
.divTitulo .tituloRow .parrafoHome .btnHome:hover {
  background-color: white;
  color: black;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
.mainPortfolio .rowPortfolio .cardUno .cardPortfolio {
  background-color: rgba(230, 230, 230, 0.407);
  padding: 3px;
  width: 230px;
  height: 330px;
  border-bottom-right-radius: 10%;
  box-shadow: 2px 2px 2px rgba(183, 25, 198, 0.3);
  overflow: hidden;
  margin: 4px;
  text-align: center;
  transition: all 0.25s;
}
.mainPortfolio .rowPortfolio .cardUno .cardPortfolio .card-img-top {
  margin-bottom: 10px auto;
}
.mainPortfolio .rowPortfolio .cardUno .cardPortfolio .card-img-topJS {
  margin-top: 10px;
}
.mainPortfolio .rowPortfolio .cardUno .cardPortfolio .cardBtn .btnProyectos {
  text-decoration: none;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
}
.mainPortfolio .rowPortfolio .cardUno .cardPortfolio .cardBtn .btnProyectos:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}
.mainPortfolio .rowPortfolio .cardUno .cardPortfolio:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(183, 25, 198, 0.2);
}

.parrafo .titulo {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
}
.parrafo .titulo:hover {
  cursor: pointer;
  -webkit-animation: animar-texto 0.8s ease-in-out 1 normal both;
          animation: animar-texto 0.8s ease-in-out 1 normal both;
}
.parrafo .titulo .espacio {
  width: 20px;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
.divFooter {
  margin-top: 60px;
}
.divFooter footer .footerDentro .divcolor {
  width: 800px;
  background-color: #b719c6;
  height: 2px;
}
.divFooter footer .footerDentro .seccion-footer a .logofotter {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.divFooter footer .footerDentro .seccion-footer a :hover {
  -webkit-animation: saltar 0.4s ease-out 1 normal both;
          animation: saltar 0.4s ease-out 1 normal both;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.containerNav .rowNav nav .divcol a .logonav {
  width: 60px;
}
.containerNav .rowNav nav .divcol .logonav:hover {
  -webkit-animation: saltar 0.4s ease-out 1 normal both;
          animation: saltar 0.4s ease-out 1 normal both;
}
.containerNav .rowNav nav .divcol #navbarNavAltMarkup .navbar-nav .navbarul {
  padding: 10px;
  width: 600px;
}
.containerNav .rowNav nav .divcol #navbarNavAltMarkup .navbar-nav a {
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
}
.containerNav .rowNav nav .divcol #navbarNavAltMarkup .navbar-nav a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.divTituloSobreMi {
  margin-top: 30px;
}
.divTituloSobreMi .divRow .titulo {
  margin-top: 30px;
  margin-bottom: 50px;
}
.divTituloSobreMi .divRow .titulo h1 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.divTituloSobreMi .divRow .divImg .yoSobreMi {
  margin-top: 50px;
  margin-bottom: 50px;
}
.divTituloSobreMi .divRow .divSobreMi .sobremiParrafo h3 {
  font-size: 22.2222222222px;
  display: flex;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.divTitulo {
  margin-top: 200px;
}
.divTitulo .tituloRow .divyo .yoHome {
  margin-left: 150px;
}
.divTitulo .tituloRow .parrafoHome {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  text-align: center;
}
.divTitulo .tituloRow .parrafoHome .tituloHome {
  margin-right: 150px;
  font-size: 52px;
}
.divTitulo .tituloRow .parrafoHome .tituloHome .espacio {
  margin: 5px;
}
.divTitulo .tituloRow .parrafoHome .tituloHome .spanHome:hover {
  cursor: pointer;
  -webkit-animation: animar-texto 0.8s ease-in-out 1 normal both;
          animation: animar-texto 0.8s ease-in-out 1 normal both;
}
.divTitulo .tituloRow .parrafoHome p {
  margin-right: 150px;
}
.divTitulo .tituloRow .parrafoHome .btnHome {
  margin-right: 150px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px !important;
  border-radius: 2em;
  outline: 1px solid rgba(183, 25, 198, 0.1333333333);
  transition-duration: 0.6s !important;
  box-shadow: 2px 1.5px 5px #b719c6;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
  font-size: 16px;
  color: black;
  background-color: #b719c6;
  color: white;
}
.divTitulo .tituloRow .parrafoHome .btnHome:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-color: #b719c6;
  color: white;
}
.divTitulo .tituloRow .parrafoHome .btnHome:hover {
  background-color: white;
  color: black;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Kanit", sans-serif;
}

#grilla {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.tituloC .tituloR .tituloC .titulo {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}
.tituloC .tituloR .tituloC p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.noticiaForm {
  margin-top: 50px;
}
.noticiaForm h3 {
  text-align: center;
  font-size: 22.2222222222px;
}

.form {
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(183, 25, 198, 0.3);
  transition: all 0.25s;
  padding: 15px;
}

.form:hover {
  box-shadow: 0 12px 16px rgba(183, 25, 198, 0.2);
}

@keyframes saltar {
  from {
    transform: translateY(0) scale(0.7, 1);
  }
  15% {
    transform: translateY(-0.1rem) scale(0.9, 1);
  }
  35% {
    transform: translateY(-0.2rem) scale(1, 1.05);
  }
  45% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.5rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.4rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.3rem) scale(1, 1.08);
  }
  55% {
    transform: translateY(-0.2rem) scale(1, 1.08);
  }
}
@keyframes animar-texto {
  from {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
    color: #b719c6;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    color: #fff;
  }
}
@keyframes vuelta {
  from {
    transform: rotate(0deg);
    bottom: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    bottom: calc(100% + 100px);
    opacity: 0;
  }
}
.divFooter {
  margin-top: 60px;
}
.divFooter footer .footerDentro .divcolor {
  width: 800px;
  background-color: #b719c6;
  height: 2px;
}
.divFooter footer .footerDentro .seccion-footer a .logofotter {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.divFooter footer .footerDentro .seccion-footer a :hover {
  -webkit-animation: saltar 0.4s ease-out 1 normal both;
          animation: saltar 0.4s ease-out 1 normal both;
}