//Animacion de background para todos los html
@import './_animations.scss';
@import './_variables.scss';

.animacionFondo{
    filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    .uno{
        border: 0;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: map-get($colors, "blanco");
        animation: vuelta 7s linear infinite normal both;
        width: 80px;
        height: 80px;
        bottom: -80px;
        background-color: map-get($colors, "circulo1");
        span:nth-child(1) {
            left: 5%;
        }
    }
    .dos{
        @extend .uno;
        width: 60px;
        height: 60px;
        bottom: -60px;
        background-color: map-get($colors, "circulo2");
    }
    .tres{
        @extend .uno;
        width: 40px;
        height: 40px;
        bottom: -40px;
        background-color: map-get($colors, "circulo3");
    }
    .cuatro{
        @extend .uno;;
        width: 20px;
        height: 20px;
        bottom: -20px;
        background-color: map-get($colors, "circulo4");
    }
   
    
    span:nth-child(2) {
        left: 25%;
    }
    
     span:nth-child(3) {
        left: 35%;
    }
    
    span:nth-child(4) {
        left: 45%;
    }
    
    span:nth-child(5) {
        left: 55%;
    }
    
    span:nth-child(6) {
        left: 65%;
    }
    
    span:nth-child(7) {
        left: 75%;
    }
    
    span:nth-child(8) {
        left: 85%;
    }
    
    span:nth-child(9) {
        left: 95%;
    }
    
    span:nth-child(10) {
        left: 50%;
    }
    
    span:nth-child(11) {
        left: 39%;
    }
    
    span:nth-child(12) {
        left: 10%;
    }
    span.delay-1 {
        animation-delay: 1s;
    }
    
    span.delay-2 {
        animation-delay: 2s;
    }
    
    span.delay-3 {
        animation-delay: 3s;
    }
    
    span.delay-4 {
        animation-delay: 4s;
    }
    
    span.delay-5 {
        animation-delay: 5s;
    }
    
    span.delay-6 {
        animation-delay: 6s;
    }
    
    span.delay-7 {
        animation-delay: 7s;
    } 

}