//Scss para Cards
@import './_animations.scss';
@import './_mixins.scss';

.mainPortfolio{
    .rowPortfolio{
        .cardUno{
            margin-bottom: 20px;
            .cardPortfolio{
                background-color: rgba(230, 230, 230, 0.407);
                padding: 3px ;
                width: 230px;
                height: 330px;
                border-bottom-right-radius: 10%;
                box-shadow: map-get($colors,"sombraCard");
                overflow: hidden;
                margin: 4px;
                text-align: center;
                transition: all 0.25s;
                .card-img-top{
                    margin-bottom: 10px auto;
                }
                .cardBtn{
                    .btnProyectos{
                        @include btnPrimary;
                    }
                }
            }
            .cardPortfolio:hover{
                @include cardHover;
            }
        }
    }
}