@import '_animations.scss';
@import './_reset.scss';
@import './_variables.scss';
@import './_mixins.scss';
.containerNav {
    .rowNav {
        nav {
            .divcol {
                a {
                    .logonav {
                        width: 60px;
                    }
                }

                .logonav:hover {
                    animation: saltar 0.4s ease-out 1 normal both;
                }

                #navbarNavAltMarkup {
                    .navbar-nav {
                        .navbarul {
                            padding: 10px;
                            width: 600px;
                        }

                        a {
                            @include aNavbar;
                          }
                    }
                }
            }
        }
    }
}