@import './_animations.scss';
@import './_variables.scss';

.divTitulo{
    .tituloRow{
        .parrafoHome{
            text-shadow: $sombra-texto;
            padding-top: 100px;
            text-align: center;
            .tituloHome{
                font-size: $font-tittle;
                .spanHome{
                    &:hover{
                        cursor: pointer;
                        animation: animar-texto 0.8s ease-in-out 1 normal both;
                    }
            }
           }
            div{
                p{
                    font-size: $x-l;
                }
            }
        }
    }
}