//animacion de H1
@import './_animations.scss';
@import './_variables.scss';
@import './_reset.scss';
@import './_mixins.scss';

.divTitulo {
    margin-top: 100px;

    @include mediaQ(lg) {
        margin-top: 50px;

    }

    .tituloRow {
        justify-content: center;

        .divyo {
            .yoHome {
                filter: drop-shadow(6px 2px 15px #b719c6);
                width: 550px;
                margin-bottom: 100px;

                @include mediaQ(lg) {
                    margin: 0 auto;
                    margin-bottom: 50px;
                    width: 300px;
                }
                @include mediaQ(md) {
                    margin-bottom: 35px;
                    width: 300px;
                }

            }
        }

        .parrafoHome {
            justify-content: center;
            text-align: center;
            text-shadow: $sombra-texto;
            margin: 0 auto;
            padding-top: 100px;
             
            @include mediaQ(md) {
                padding-top: 50px;
                padding-bottom: 50px;
             }
            
             .tituloHome {
                margin-top: 100px;
                margin-right: 150px;

                @include mediaQ(md) {
                    font-size: 2.8em;
                }

                @include mediaQ(lg) {
                    margin: 0 auto;
                }

                .espacio {
                    margin: 5px;
                }

                font-size: $font-tittle*1.9;

                .spanHome {
                    &:hover {
                        cursor: pointer;
                        animation: animar-texto 0.8s ease-in-out 1 normal both;
                    }
                }
            }

            p {
                font-size: 1.6rem;
                margin-right: 150px;

                @include mediaQ(lg) {
                    font-size: 1rem;
                    margin: 0 auto;
                    margin-bottom: 50px;
                }
            }

            .btnHome {
                margin-right: 150px;
                text-decoration: none;
                @include aNavbar;
                background-color: #b719c6;
                color: white;

                @include mediaQ(lg) {
                    margin: 0 auto;
                }

                &:hover {
                    background-color: map-get($colors, "blanco");
                    color: map-get($colors, "negro");
                }
            }
        }
    }
}